
aiohttp
asyncpg
boto3
dotenv
fastapi
httpx
moto
motor
passlib
psycopg2-binary
pydantic
pydantic[email]
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-jose
python-multipart
replicate
requests
sentence-transformers
sqlalchemy
stripe
tqdm
uvicorn